/* FONTS */
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/fonts/Rubik/Rubik-Black.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-BlackItalic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-ExtraBold.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-ExtraBoldItalic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-Italic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-Light.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-LightItalic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-MediumItalic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-SemiBold.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-SemiBoldItalic.ttf") format("truetype");
  font-display: swap;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 10px;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

h4 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: unset;
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.header__menu__item {
  margin-right: 35px;
  text-transform: capitalize;
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.header__menu__item::after {
  content: "";
  display: block;
  width: 0;
  background-color: #67257b;
  height: 3px;
  margin-top: 3px;
  transition: all 0.3s ease-in-out;
}
.header__menu__link:hover .header__menu__item::after {
  width: 100%;
}
.header__menu__search {
  margin-right: 35px;
  cursor: pointer;
}

.header__burger__wrapper {
  background-color: #67257b;
  color: white;
  height: 100%;
  width: 179px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.header__burger__menu {
  width: 24px;
  height: 6px;
  background: white;
  transition: all 0.5s ease-in-out;
}
.header__burger__menu::before, .header__burger__menu::after {
  content: "";
  position: absolute;
  height: 6px;
  background: white;
  transition: all 0.5s ease-in-out;
}
.header__burger__menu::before {
  transform: translateY(-8px) translateX(1px);
  width: 26px;
}
.header__burger__menu::after {
  transform: translateY(8px);
  width: 22px;
}
.header__burger.open .header__burger__menu {
  transform: translateX(-50px);
  background: transparent;
}
.header__burger.open .header__burger__menu::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.header__burger.open .header__burger__menu::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.header__burger__title {
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  line-height: 30px;
  text-transform: uppercase;
}

.btn {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: translateY(3px);
}
.btn .arrow svg {
  transform: translateY(3px);
}
.btn--primary {
  background-color: white;
  color: #67257b;
  border-radius: 48px;
  padding: 1rem 2rem;
  width: 26rem;
}
.btn--primary .arrow {
  margin-left: 6rem;
}
.btn--secondary {
  background-color: transparent;
  border: none;
  padding: 1rem 2rem;
  width: 26rem;
}
.btn--secondary .arrow {
  margin-right: 1rem;
}

.footer {
  width: 100%;
}
.footer__uppersection {
  height: 106px;
  background-color: #67257b;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__uppersection__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20rem;
}
.footer__uppersection__list__item {
  margin-right: 4rem;
}
.footer__lowersection {
  height: 60px;
  color: black;
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__lowersection__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20rem;
  font-weight: 600;
}
.footer__lowersection__list__item {
  margin-right: 4rem;
}
.footer__copyrights {
  font-weight: 400;
  margin-right: 20rem;
}

.hero {
  background-color: #00ae74;
  display: flex;
  position: relative;
}
.hero__left-section {
  float: left;
  width: 60%;
  padding: 110px 80px 80px 80px;
}
.hero__title {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.hero__subtitle {
  color: #67257b;
}
.hero__right-section {
  float: right;
  width: 40%;
}
.hero__right-section img {
  width: 100%;
}
.hero__para {
  color: white;
  font-weight: 300;
  line-height: 50px;
}
.hero-list {
  color: white;
}
.hero-list__wrapper {
  padding-left: 100px;
  padding-top: 50px;
}
.hero-list__title {
  color: #67257b;
}
.hero-list__item {
  margin: 1rem 0;
}
.hero-list__item::before {
  content: url(../assets/icons/arrow.svg);
  margin-right: 20px;
  display: inline-block;
  transform: rotate(-90deg);
}

.container {
  padding: 80px;
}

/*# sourceMappingURL=style.css.map */
