/* FONTS */
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/fonts/Rubik/Rubik-Black.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-BlackItalic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-ExtraBold.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-ExtraBoldItalic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-Italic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-Light.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-LightItalic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-MediumItalic.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-SemiBold.ttf") format("truetype");
  src: url("../assets/fonts/Rubik/Rubik-SemiBoldItalic.ttf") format("truetype");
  font-display: swap;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 10px;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

h4 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: unset;
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.header__menu__item {
  margin-right: 35px;
  text-transform: capitalize;
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.header__menu__item::after {
  content: "";
  display: block;
  width: 0;
  background-color: #67257b;
  height: 3px;
  margin-top: 3px;
  transition: all 0.3s ease-in-out;
}
.header__menu__link:hover .header__menu__item::after {
  width: 100%;
}
.header__menu__search {
  margin-right: 35px;
  cursor: pointer;
}

.container {
  padding: 80px;
}

/*# sourceMappingURL=style.css.map */
