$color-black: black;
$color-white: white;
$color-purple: #67257b;
$color-green: #00ae74;
$color-blue: #00a9c7;
$color-orange: #f37932;
$color-beige: #cfb572;
$color-pink: #ca148b;
/* FONTS */
$font-family-primary: 'Rubik', sans-serif;
$font-size-primary: 2rem;
