@use '../abstracts/' as *;
.een-plek {
  background-color: $color-blue;
  @include flexbox(unset, center);
  @include for-desktop {
    flex-direction: column;
  }
  &__left-section {
    flex: 50%;
    @include flexbox(flex-end, unset);
    position: relative;
  }
  &__right-section {
    flex: 50%;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  &__title {
    color: $color-purple;

    position: absolute;
    right: 0;
    top: 50px;
    transform: translateX(349px);
    @include for-desktop {
      left: 0;
      top: 0;
      transform: translateY(-70px);
    }
  }
  &__para {
    color: $color-white;
    margin: 4rem 0;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 6rem;
  }
}
