@use '../abstracts/' as *;
.hero {
  background-color: $color-green;
  display: flex;
  position: relative;

  &__left-section {
    float: left;
    width: 60%;
    padding: 110px 80px 80px 80px;
    @include for-desktop {
      width: 50%;
      padding: 50px;
    }
    @include for-tablet {
      padding: 20px;
    }
  }
  &__title {
    color: $color-white;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__subtitle {
    color: $color-purple;
  }
  &__right-section {
    float: right;
    width: 40%;
    img {
      width: 100%;
    }
    @include for-desktop {
      width: 50%;
    }
  }
  &__para {
    color: $color-white;
    font-weight: 300;
    line-height: 50px;
    @include for-laptop {
      line-height: 30px;
    }
  }
  &-list {
    color: $color-white;
    &__wrapper {
      padding-left: 100px;
      padding-top: 50px;
      @include for-laptop {
        padding-left: 0;
      }
    }
    &__title {
      color: $color-purple;
    }
    &__item {
      margin: 1rem 0;
      &::before {
        content: url(../assets/icons/arrow.svg);
        margin-right: 20px;
        display: inline-block;
        transform: rotate(-90deg);
      }
    }
  }
}
