@use '../abstracts/' as *;
body {
  font-family: $font-family-primary;
  font-size: $font-size-primary;
}
h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}
h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}
h4 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
